/* Changes made in bootstrap and bootstrap-grid file  
	

*/

*{
	/*border: 1px solid black;*/
}

.city_outline{
	margin-top: 23px;
	outline-style: ridge;
	outline-width: 3px;
	outline-color: white;
	padding: 3px;

}


.navbar-brand{
	margin-left: 20px;
}

.vertical{
	border: 1px solid gainsboro;
	width: 3px;
	height: 14px;
	background-color: gainsboro;
}

.filters{
	text-align: center;
	font-size: 18px;
	margin-left: -40px;
}

#filter_name{
	text-decoration: underline;
	font-size: 25px;
}

.details{
	max-width: 1140px;
	height:972px;
}